:root{
    --clr-main: #FEFFBF;
    --clr-dark: #27292b;
    --clr-light: #f5f5f5;
    --clr-backgroud: rgb(255, 229, 245);
    --box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    --box-shadow-expand: 0 0 10px rgba(0, 0, 0, .3);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    /* background-color: var(--clr-light); */
    background: url(../img/background.png);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
}

h1, h2, h3, h4, h5, h6, p, a{
    margin: 0;
}

a, button {
    color: var(--clr-dark);
    text-decoration: none;
    margin-top: 8px;
}

header{
    box-shadow: var(--box-shadow);
    background-color: var(--clr-backgroud);
}

main {
    padding: 2rem;
}

.main-grid{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.main-grid-items{
    text-align: center;
}

.item{
    display: flex;
    gap: 1rem;
    align-items: center;
    box-shadow: var(--box-shadow);
    padding: .5rem 1rem;
    border-radius: .75rem;
    transition: 
        background-color .2s, 
        transform .2s, 
        box-shadow .2s;
    background-color: #f5f5f5;
}

.item img{
    width: 30px;
}

.item p{
    font-size: large; 
    font-weight: 500;
    line-height: 1.2;
}

.item:hover {
    background-color: var(--clr-main);
    transform: scale(1.05);
    box-shadow: var(--box-shadow-expand);
}

.icono img {
    margin-right: 10px;
    width: 40px;
}

.alert b {
    font-size: larger;
    font-family:sans-serif;
}

.form_number{
    display: flex;
    gap: 2rem;
}
.form_number_input{
    display: flex;
    gap: 2rem;
    width: 300px;
}

.form_ingrediente input{
    width: 300px;
}

.form_number p{
    font-size: large;
}

.contenedorPastafrola h1{
    text-align: center;
}

.lista_item{
    margin-top: 1rem;
}

.contenedorPastafrola{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form_costo{
    margin-top: 2rem;
}

#trash{
    display: none;
}

#trash_index{
    margin-left: 200px;
}

@media screen and (min-width: 400px){
    /* .main-grid{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    } */

    .item{
        flex-direction: column;
        justify-content: center;
        text-align: center;
        gap: 0;
    }

    .item img{
        width: 40px;
    }

    .form_number p{
        font-size: x-large;
    }

    .form_number_input{
        width: 500px;
    }
    
    .form_ingrediente input{
        width: 500px;
    }

    .lista_item{
        width: 500px ;
    }
}

@media screen and (min-width: 600px){
    /* .main-grid{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    } */
    
    .main-grid-items{
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
    }

    .item{
        padding-block: 1.1rem; 
    }

    .item img{
        width: 50px;
    }

    .form_number_input{
        width: 500px;
    }
    
    .form_ingrediente input{
        width: 500px;
    }

    #resultado_costo{
        width: 400px;
    }

    .form_number{
        gap: 9rem;
    }

    .lista_item{
        width: 600px ;
    }

    #boton_eliminar{
        display: none;
    }

    #trash{
        display: block;
        cursor: pointer;
    }
}

@media screen and (min-width: 800px){
    .main-grid{
        padding: 4rem 8rem;
    }

    .main-grid-items{
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
    }

    #botonTortas{
        width: 400px;
        height: 120px;
        margin-left: 250px;
    }

    .item{
        padding: 3rem 1rem;
        width: 220px;
    }

    .item img{
        width: 70px;
    }

    .item p{
        font-size: x-large;
    }

    .form_number_input{
        display: flex;
        gap: 10rem;
        width: 500px;
    }
    .form_number{
        display: flex;
        gap: 5rem;
    } 

    .form_number p{
        font-size: x-large;
        font-weight: 500;
    }
    
    .form_ingrediente input{
        width: 400px;
    }

    .contenedorPastafrola{
        /* border: solid lightblue;
        border-radius: .75rem; */
        padding: 20px;
    }

}

@media screen and (min-width: 1000px){
    .main-grid{
        display: flex;
    }
    
    .form_number_input{
        display: flex;
        width: 600px;
    }
    
    .form_ingrediente input{
        width: 600px;
    }

}
